
body{
	background-image: url("../images/background.png")
}
div{
	background-color: #d3ffce;
	margin: 10px;
	width: 25%;
	padding: 10px;
}
.instructions {
	width: 40%;
}
h3 {
	font-weight: bold;
	text-align: center;
}
span {
	font-weight: bold;
	text-align: center;
	font-size: 30pt
}
h1{
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
}
.WL {
	float: left;
	width: 25%;
	height: 60px;
}
.numberToGet, {
	background-color:#E8FCFB; 
	float: left;
	width: 25%;
	height: 80px;
}
.userTotal{
	width: 25%;
	height: 60px;
}
.crystals{

	clear: both;
	width: 25%
}
.crystalimg{
	height: 50px;
	margin: 10px;
}

